* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// test
.wrapper {
    width: 100%;
    margin: 0 auto;
    // max-width: 375px;
}
#app {
    max-width: 320px;
    margin: 0 auto;
}
body {
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    color: #263238;
    line-height: 1.5;
    text-align: left;
}

section {
    padding: 25px;
    height: 100vh;
    width: 100%;
    max-width: 375px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

img {
    max-width: 100%;
}

textarea {
    &::-webkit-scrollbar {
        width: 0;
    }
    overflow: -moz-scrollbars-none;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
}

// .test-icon {
//     display: inline-block;
//     @include sprite($earth);  
// }
.btn {
    border-radius: 4px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    display: block;
    width: 100%;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 14px;
    color: rgb(0, 156, 255);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 25px 0;

    &_social {
        background-color: rgb(255, 255, 255);
        display: inline-block;
        margin-bottom: 0;
        width: calc(50% - 13px);
        &--facebook {
            margin-right: 20px;
        }
    }
    &-blue {
        border-radius: 4px;
        background-image: -moz-linear-gradient( 0deg, rgb(0,156,255) 0%, rgb(0,108,255) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(0,156,255) 0%, rgb(0,108,255) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(0,156,255) 0%, rgb(0,108,255) 100%);
        background-image: linear-gradient( 0deg, rgb(0,156,255) 0%, rgb(0,108,255) 100%);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
        font-size: 14px;
        color: rgb(255, 255, 255);
        font-weight: 700;
        line-height: 1.714;
        text-align: center;   
        position: relative;
        line-height: 40px;    
    }
    &-white {
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
        font-size: 14px;
        color: rgb(0, 156, 255);
        font-weight: 700;
        line-height: 1.714;
        text-align: center;   
        position: relative;
        line-height: 40px;  
    }
}

// logo
.logo {
    display: block;
    margin: 15% auto 15% auto;
}

.bottom {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    padding: 0 25px;
    .btn {
        margin-top: 0;
    }
}

input {
    display: block;
    background-color: transparent;
    border: 0;
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    font-weight: 600;
    outline: none;
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgb(255, 255, 255);
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: rgb(255, 255, 255);
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: rgb(255, 255, 255);
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: rgb(255, 255, 255);
    }
}
// input
.input {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 0;
    border-bottom: 1px;          
    border-color: rgb(176, 190, 197);
    border-style: solid;
    margin: 15px 0;
    .placeholder {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        font-size: 16px;
        transform: translateY(-50%);
        color: rgb(144, 164, 174);
        background-color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: left;              
        transition: all .5s ease-in-out;
        z-index: 2;
    }
    &.active {
        .placeholder {
            font-size: 12px;
            top: -5px;
        }
    }
    input {
        font-size: 16px;
        color: rgb(38, 50, 56);
        line-height: 1.2;
        text-align: left;
        z-index: 1;  
        position: relative;            
    }
}
// select 
.select {
    padding-right: 30px;
    position: relative;
    select {
        border: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 16px;
        color: rgb(38, 50, 56);
        line-height: 1.2;
        text-align: left;    
        height: 40px;  
        width: 100%;   
        outline: none;
        &:active, &:focus {
            outline: none;
        }
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        right: 7px;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 5px;            
        background-image: url('../img/svg-icons/select-arrow.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}
.three-input {
    font-size: 0;
    text-align: justify;
    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
    .input {
        width: calc(33.3333% - 10px);
        overflow: hidden;
        margin-top: 0;
        padding-top: 15px;
        height: 55px;
        display: inline-block;
        &:not(:last-child) {
            margin-right: 15px;
        }
        .placeholder {
            top: calc(50% + 7.5px);
        }
        &.active {
            .placeholder {
                top: 10px;
            }
        }
    }
    .select {
        &:after {
            top: calc(50% + 7.5px);
        }
    }
}
// checkbox
input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label {
    line-height: 1.2;
    text-align: left;
    position: relative;
    display: block;
    padding: 4px 0 0 48px;
    margin: 25px 0;
    &:before {
        content: "";
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 2px;
        border-width: 2px;
        border-style: solid;
    }
    &.orange-check {
        font-size: 14px;
        color: rgb(255, 255, 255);
        &:before {
            border-color: rgb(255, 196, 0);
            background-color: rgb(0, 101, 178);
        }
    }
    &.blue-check {
        padding-top: 2px;
        font-size: 16px;
        color: rgb(38, 50, 56);    
        &:before {
            border-color: rgb(176, 190, 197);
            background-color: rgb(255, 255, 255);
        }     
    }
    &.switcher {
        margin: 0;
        padding: 0;
        background-color: rgb(176, 190, 197);
        width: 35px;
        height: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        display: block;
        border-radius: 25px;
        transition: all .5s ease-in-out;
        &:before {
            content: "";
            width: 20px;
            height: 20px;
            border: 0;
            border-radius: 50%;
            background-color: rgb(243, 246, 248);
            box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .2);
            position: absolute;
            display: block;
            top: -2.5px;
            left: 0;
            transition: all .5s ease-in-out;
        }
    }
}

input[type=checkbox]:checked+label {
    &:before {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto auto;
    }

    &.orange-check {
        &:before {
            background-color: rgb(255, 196, 0);
            background-image: url('../img/check.png');
        }
    }
    &.blue-check {
        &:before {
            background-color: #009cff;
            border-color: #009cff;
            background-image: url('../img/check-white.png');
        }     
    }
    &.switcher {
        background-color: rgb(191, 231, 255);
        &:before {
            left: 15px;
            background-color: rgb(0, 156, 255);
        }
    }
}

.panel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    font-size: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    &__item {
        width: 25%;
        display: inline-block;
        text-align: center;
        color: rgb(176, 190, 197);
        text-decoration: none;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        &:first-child {
            padding-left: 15px;
        }
        &:last-child {
            padding-right: 15px;
        }
        &.active {
            color: rgb(38, 50, 56);
        }
        i {
            display: block;
        }
        span {
            display: block;
            font-size: 10px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.2;
            text-align: center;
        }
    }
}

// header
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 20px;
    &__icon {
        position: absolute;
        top: 20px;
        right: 15px;
        a {
            color: rgb(255, 255, 255);
        }
    }
    &.with-right-icon {
        padding-right: 50px;
    }
    &.with-left-icon {
        padding-left: 60px;
    }
    &.with-tabs {
        padding-bottom: 60px;
        .tabs {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
    &.with-button {
        padding-right: 110px;
    }
    // new style
    .left-icon {
        left: 10px;
    }
    .right-icon {
        right: 7px;
    }
    
    .left-icon,
    .right-icon {
        width: 40px;
        height: 40px;
        display: inline-block;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto auto;
        position: absolute;
        top: 20px;
        &.close {
            &.white-close {
                background-image: url(../img/svg-icons/header-close.svg);
            }
            &.blue-close {
                background-image: url(../img/svg-icons/blue-close.svg);
            }
        }
        &.filter {
            background-image: url(../img/svg-icons/jobs-filter.svg);
            right: 5px;
        }
        &.nolast {
            background-image: url(../img/svg-icons/no-last.svg)
        }
        &.back {
            &.black-back {
                background-image: url(../img/svg-icons/.svg)
            }
            &.white-back {
                background-image: url(../img/svg-icons/arrow-back-white.svg)
            }
        }
        &.search {
            background-image: url(../img/svg-icons/icon-search.svg)
        }
        &.info {
            background-image: url(../img/svg-icons/icon-inform.svg)
        }
        &.msg {
            background-image: url(../img/svg-icons/icon-msg-blue.svg)
        }

    }
    .button {
        border-radius: 4px;
        background-image: -moz-linear-gradient( 0deg, rgb(0, 156, 255) 0%, rgb(0, 108, 255) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(0, 156, 255) 0%, rgb(0, 108, 255) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(0, 156, 255) 0%, rgb(0, 108, 255) 100%);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
        display: inline-block;
        font-size: 14px;
        color: rgb(255, 255, 255);
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        text-decoration: none;
        padding: 12px 20px;
        &.button-white {

        }
    }
    .center {
        width: 100%;
    }
    .tabs {
        font-size: 0;       
        a {
            padding: 10px;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.502);
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.2;
            text-align: center;        
            display: inline-block;  
            border-bottom: 3px solid rgb(38, 50, 56);
            text-decoration: none;
            &.active {
                color: rgb(255, 255, 255);
                border-color: rgb(255, 255, 255);
            }
        }
    }

}

// .back {
//     height: 16px;
//     top: 1px;
//     position: relative;
//     margin: auto 25px auto 20px;
//     display: inline-block;
// }

.search {
    &__input {
        background-color: rgb(255, 255, 255);
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
        padding: 0 40px 0 0;
        position: relative;
        display: inline-block;
        height: 40px;
        input {
            border: 0;
            margin: 0;
            font-size: 16px;
            color: rgb(38, 50, 56);
            line-height: 1.2;
            text-align: left;
            padding-left: 15px;
        }
    }
    &__close {
        position: absolute;
        right: 10px;
        top: calc(50% - 9px);
        height: 18px;
        width: 18px;
    }
}

// content
.content {
    height: 100%;
    z-index: 1;
    &::-webkit-scrollbar {
        width: 0;
    }
    overflow: -moz-scrollbars-none;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
}

.input {
    margin: 30px 0;
    width: 100%;
    height: 40px;
    display: block;
    position: relative;
    .text-error {
        display: none;
        position: absolute;
        top: 45px;
        left: 0;
        font-size: 12px;
        color: rgb(244, 67, 54);
        line-height: 1.2;
        text-align: left;
    }
    &.error {
        border-color: rgb(244, 67, 54)!important;
        .text-error {
            display: block;
        }
    }
    &-with-info {
        padding-right: 30px;
        &:after {
            content: "";
            position: absolute;
            display: block;
            right: 5px;
            bottom: 9px;
            width: 20px;
            height: 20px;
            background-image: url('../img/svg-icons/info-blue.svg');
            background-position: center center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    }
}

// modal
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    &-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.25)
    }
    &-window {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);
        padding: 2px 0;
        z-index: 2;
        width: calc(100% - 50px);
        &.modal-phone {
            padding: 30px 100px 15px 15px;    
            width: 100%;
            border-radius: 0;
            top: auto;
            bottom: 0;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            input {
                margin: 0;
                height: 30px;                                 
            }        
            .input {
                margin: 0;
                border-bottom: 0;
                height: auto;
            }
            .btn {
                position: absolute;
                bottom: 10px;
                right: 15px;
                display: inline-block;
                margin: 0;
                width: auto;
                padding: 0 15px;
            }
        }
        &.modal-date {
            width: 100%;
            border-radius: 0;
            top: auto;
            bottom: 0;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            .modal-title {
                padding: 18px 20px 18px 70px;
                .close {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    left: 20px;
                    top: 22px;
                    background-image: url('../img/svg-icons/blue-close.svg');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: auto;
                }
            }
            .modal-row {
                margin: 15px 0;
                padding: 0 15px;
                position: relative;
            }
        }
        .modal-title {
            font-size: 20px;
            color: rgb(38, 50, 56);
            line-height: 1.2;
            padding: 10px 20px;
            display: block;
            &.fixed {
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);                  
                
            }
        }
        .modal-content {
            overflow: -moz-scrollbars-none;
            overflow-x: hidden;
            overflow-y: auto;
            -ms-overflow-style: none;
            max-height: 400px;
            .modal-row {
                label {
                    padding-left: 68px;
                    &:before {
                        left: 20px;
                    }
                }
            }
            .modal-item {
                font-size: 16px;
                color: rgb(38, 50, 56);
                line-height: 1.5;
                text-align: left;
                padding: 10px 20px;
                text-decoration: none;
                display: block;
                &.active {
                    background-color: rgb(243, 246, 248);
                }
            }
        }
        .modal-bottom {
            padding: 10px;
            .btn {
                width: calc(50% - 5px);  
                display: inline-block;   
                margin: 0;
                &:first-child {
                    margin-right: 5.5px;
                }           
            }
        }
    }
}