@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto/RobotoBold/RobotoBold.eot?") format("eot"),
		 url("fonts/Roboto/RobotoBold/RobotoBold.woff") format("woff"),
         url("fonts/Roboto/RobotoBold/RobotoBold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto/RobotoMedium/RobotoMedium.eot?") format("eot"),
		 url("fonts/Roboto/RobotoMedium/RobotoMedium.woff") format("woff"),
         url("fonts/Roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto/RobotoRegular/RobotoRegular.eot?") format("eot"),
		 url("fonts/Roboto/RobotoRegular/RobotoRegular.woff") format("woff"),
         url("fonts/Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto/RobotoLight/RobotoLight.eot?") format("eot"),
		 url("fonts/Roboto/RobotoLight/RobotoLight.woff") format("woff"),
         url("fonts/Roboto/RobotoLight/RobotoLight.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
	font-family: "OpenSans";
	src: url("fonts/OpenSans/OpenSansBold/OpenSansBold.eot?") format("eot"),
		 url("fonts/OpenSans/OpenSansBold/OpenSansBold.woff") format("woff"),
         url("fonts/OpenSans/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
	font-family: "OpenSans";
	src: url("fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot?") format("eot"),
		 url("fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
         url("fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
	font-family: "OpenSans";
	src: url("fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot?") format("eot"),
		 url("fonts/OpenSans/OpenSansRegular/OpenSansRegular.woff") format("woff"),
         url("fonts/OpenSans/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
	font-family: "OpenSans";
	src: url("fonts/OpenSans/OpenSansLight/OpenSansLight.eot?") format("eot"),
		 url("fonts/OpenSans/OpenSansLight/OpenSansLight.woff") format("woff"),
         url("fonts/OpenSans/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-weight: 300;
}