.account {
    padding: 0;
    &::-webkit-scrollbar { width: 0; }
    overflow: -moz-scrollbars-none;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    .account-header {
        background-color: rgb(38, 50, 56);
        text-align: center;
        position: relative;
        z-index: 2;

        .profile-img {
            border: 2px solid rgb(255, 255, 255);
            border-radius: 50%;
            background-color: rgb(255, 255, 255);   
            width: 100px;
            height: 100px;
            margin-top: 20px;
            display: inline-block;                       
            img {
                width: 100%;
            }
        }
        .profile-name {
            font-size: 20px;
            color: rgb(255, 255, 255);
            line-height: 1.2;
            text-align: center; 
            display: block;
            margin: 15px auto;             
        }
        .profile-rating {
            .hire-rating, .job-rating {
                position: relative;
                display: inline-block;
                margin: 0 10px;
                .rating-value {
                    font-size: 16px;
                    color: rgb(255, 255, 255);
                    line-height: 1.2;
                    display: inline-block;                      
                }
                .rating-stars {
                    display: inline-block;
                    font-size: 0;
                    li {
                       width: 14px;
                       height: 14px;
                       display: inline-block;
                       background-position: center center;
                       background-size: 100% auto;
                       background-repeat: no-repeat;
                       background-image: url(../img/svg-icons/profile-gray-star.svg); 
                    }
                }
                .rating-count {
                    display: inline-block;
                    font-size: 12px;
                    color: rgb(176, 190, 197);
                    line-height: 1.2; 
                    position: relative;
                    top: -1px;
                }
                .rating-description {
                    font-size: 10px;
                    color: rgb(176, 190, 197);
                    font-weight: 600;
                    line-height: 1.2;
                    text-align: center;
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);                    
                }
            }
            .hire-rating {
                .rating-stars {
                    li {
                        &.active {
                            background-image: url(../img/svg-icons/profile-yellow-star.svg);
                        }
                    }
                }                
            }
            .job-rating {
                .rating-stars {
                    li {
                        &.active {
                            background-image: url(../img/svg-icons/profile-orange-star.svg);
                        }
                    }
                }
            }

        }
        .prifile-balance {
            display: inline-block;
            // background-image: -moz-linear-gradient( 0deg, rgb(0,156,255) 0%, rgb(0,108,255) 100%);
            // background-image: -webkit-linear-gradient( 0deg, rgb(0,156,255) 0%, rgb(0,108,255) 100%);
            // background-image: -ms-linear-gradient( 0deg, rgb(0,156,255) 0%, rgb(0,108,255) 100%);
            // box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);              
            background-color: transparent;
            background-image: url(../img/balance-back.png);
            background-position: center center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            padding: 10px 40px 20px 40px;
            transform: translateY(50%);
            min-width: 220px;
            margin-top: -25px;
            span {
                color: rgb(255, 255, 255);
                line-height: 1.2;
                text-align: center;                  
                font-size: 14px;
                display: block;
                font-weight: 600;
            }
            .balance {
                font-size: 48px;
                font-weight: 400;
            }
        }
    }
    .content {
        z-index: 1;
        height: auto;
        padding: 50px 0 60px 0;
        background-color: rgb(243, 246, 248);   
        position: relative;        
        &:before {
            content: "";
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 50px;
            position: absolute;
            background-color: rgb(255, 255, 255);
        }
        .item {
            display: block;
            background-color: white;
            padding: 15px 50px 15px 70px;
            position: relative;
            font-size: 0;
            &-icon {
                position: absolute;
                display: inline-block;
                margin-right: 20px;
                top: 15px;
                left: 25px;
                height: 22px;
                width: 22px;
                background-position: center center;
                background-size: auto;
                background-repeat: no-repeat;
            }
            &-text {
                display: inline-block;
                font-size: 16px;
                color: rgb(38, 50, 56);
                line-height: 1.4;
                text-align: left;   
                font-weight: 700;               
            }
            &-arrow {
                position: absolute;
                display: inline-block;
                top: 15px;
                right: 25px;
                height: 22px;
                width: 22px;
                background-position: center center;
                background-size: auto;
                background-repeat: no-repeat;
                background-image: url(../img/svg-icons/profile-item-arrow.svg);
            }
        }
        .logout {
            padding: 15px;
            text-align: center;
            display: block;
            text-decoration: none;
            font-size: 14px;
            color: rgb(0, 156, 255);
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.714;   
        }
    }
    .panel {
        // position: fixed;
    }
}
.edit-profile {
    .header {
        background-color: rgb(38, 50, 56);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);  
        // padding: 20px 110px 20px 70px;          
        p {
            font-size: 20px;
            color: white;
            line-height: 1.2;
            text-align: left;
            padding-left: 15px;
            padding-right: 15px;
            display: inline-block;
        }   
        .left-icon {
            position: absolute;
            top: 12px;
            left: 15px;
        } 
        .button {
            position: absolute;
            top: 14px;
            right: 20px;
        }  
    }
    .profile-img {
        display: inline-block;
        margin: 14px 20px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        @media screen and (max-width: 350px) {
            margin: 17px 20px;
            width: 90px;
            height: 90px;
        }
        img {
            width: 100%;
        }
    }
    .profile-social {
        display: inline-block;
        float: right;
        margin-right: 20px;
        .social {
            display: block;
            position: relative;
            width: 200px;
            height: 40px;
            padding: 12px 55px;
            background-color: rgb(243, 246, 248);
            border-radius: 4px;  
            text-decoration: none;   
            margin: 15px 0; 
            @media screen and (max-width: 350px) {
                width: 170px;
            }      
            &:before {
                content: "";
                position: absolute;                  
                display: block;
                left: 0;
                top: 0;
                border-radius: 4px;
                height: 40px;        
                width: 40px;
                background-position: center center;
                background-size: auto;
                background-repeat: no-repeat;
            }
            p {
                font-size: 14px;
                font-weight: 700;
                line-height: 1.2;
                text-align: left;                  
            }
            &.google {
                &:before {
                    background-image: url(../img/svg-icons/google.svg);
                    background-color: rgb(224, 83, 71);
                }
                p {
                    color: rgb(224, 83, 71);                    
                }
            }
            &.facebook {
                &:before {
                    background-image: url(../img/svg-icons/facebook.svg);
                    background-color: rgb(72, 103, 170);
                }
                p {
                    color: rgb(72, 103, 170);                    
                }
            }
            .switcher {
                background-color: rgb(176, 190, 197);
                width: 35px;
                height: 15px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                display: block;
                border-radius: 25px;
                transition: all .5s ease-in-out;
                &:before {
                    content: "";
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: rgb(243, 246, 248);
                    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .2);
                    position: absolute;
                    display: block;
                    top: -2.5px;
                    left: 0;
                    transition: all .5s ease-in-out;
                }
            }
            &.active {
                .switcher {
                    background-color: rgb(191, 231, 255);
                    &:before {
                        left: 15px;
                        background-color: rgb(0, 156, 255);
                    }
                }
            }
        }
    }
    .content {
        background-color: #fff;
        padding: 70px 0 0 0;
        .edit-item-separator {
            background-color: rgb(243, 246, 248);
            font-size: 14px;
            color: rgb(38, 50, 56);
            line-height: 1.2;
            text-align: left; 
            display: block;
            padding: 5px 15px;                         
        }
        .edit-item {
            padding: 15px 45px 15px 15px;
            display: block;
            text-decoration: none;
            position: relative;
            &-title {
                font-size: 16px;
                color: rgb(38, 50, 56);
                line-height: 1.5;
                text-align: left;  
                font-weight: 700;                
            }
            &-description {
                font-size: 14px;
                color: rgb(144, 164, 174);
                line-height: 1.714;
                text-align: left;                  
            }
            &.with-arrow {
                &:before {
                    content: "";
                    position: absolute;
                    display: inline-block;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 15px;
                    height: 20px;
                    width: 20px;
                    background-position: center center;
                    -webkit-background-size: auto auto;
                    background-size: auto;
                    background-repeat: no-repeat;
                    background-image: url('../img/svg-icons/profile-item-arrow.svg');
                }
            }
        }
    }    
}
.rewiews {
    padding: 0;
    .header {
        background-color: rgb(38, 50, 56);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);  
        padding: 20px 20px 20px 70px;          
        p {
            font-size: 20px;
            color: white;
            line-height: 1.2;
            text-align: left;
            display: inline-block;            
        }   
        .left-icon {
            position: absolute;
            top: 12px;
            left: 15px;
            background-image: url('../img/svg-icons/arrow-back-white.svg');
        } 
    }
    .content {
        padding: 70px 0 0 0;
    }
    .rewiew {
        padding: 10px 15px; 
        position: relative;
        &-info {
            padding-left: 40px; 
            font-size: 12px;
            color: rgb(144, 164, 174);
            line-height: 2;
            & > p {
                display: inline-block;
                margin-right: 90px;
            }
        }
        &-rating {
            color: rgb(38, 50, 56);   
            display: inline-block;     
            position: relative;      
            padding-left: 20px;
            &:before {
                content: "";
                background-position: center center;
                background-image: url('../img/svg-icons/profile-orange-star.svg');
                background-size: 100% 100%;
                width: 16px;
                height: 16px;
                display: block;
                position: absolute;
                left: 0;
                top: 2px;
            }
            &.hire {
                &:before {
                    background-image: url('../img/svg-icons/profile-yellow-star.svg');
                }
            }
        }
        &-name {
            
        }
        &-date {
            text-align: right;
            display: inline-block;
            max-width: 90px;
            position: absolute;
            top: 10px;
            right: 15px;
        }
        &-img {
            float: left;
            border-radius: 50%;
            overflow: hidden;
            width: 33px;        
            display: inline-block;  
            position: absolute;  
            top: 2px;
            left: -45px;
            font-size: 0;
            img {
                width: 100%;
            }
        }
        &-text {
            display: block;   
            position: relative; 
            margin-left: 40px;
            width: calc(100% - 40px);
            padding: 15px;
            border-radius: 8px;
            background-color: rgb(239, 242, 244);              
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 12px;
                left: -5px;
                width: 0;
                height: 0;
                border-top: 7px solid transparent;
                border-right: 7px solid rgb(239, 242, 244);
                border-bottom: 7px solid transparent;
            }
            p {
                font-size: 14px;
                color: rgb(38, 50, 56);
                line-height: 1.429;
                text-align: left;                  
            }
        }
    }
}

.deposit {
    padding: 0;
    .header {
        background-color: rgb(38, 50, 56);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1); 
        padding: 20px 20px 45px 20px;
        .left-icon {
            top: 20px;
            position: absolute;
            left: 15px;
            background-image: url('../img/svg-icons/arrow-back-white.svg');
        }
        .tabs {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            a {
                width: 33.3333%;
            }
        }
        
        p {
            line-height: 1.2;
            text-align: center;
            font-size: 12px;
            color: #8598a2;
            font-weight: 700;
            display: block;
            .deposit-ballance {
                font-size: 32px;
                color: rgb(255, 196, 0);
                display: block;
                font-weight: 400;
            }

        }
    }
    .content {
        padding: 135px 15px 15px 15px;
        p {
            font-size: 12px;
            color: rgb(38, 50, 56);
            line-height: 1.667;
            text-align: left; 
            margin-bottom: 15px;         
        }
    }
    &-checkboxes {
        
    }
    input[type=radio] {
        display: none;
    }
    input[type=radio]+&-creditcart, input[type=radio]+&-paypal {
        display: inline-block;
        position: relative;
        width: calc(50% - 10px);
        border-radius: 4px;
        background-color: rgb(243, 246, 248); 
        border-width: 2px;
        border-color: rgb(243, 246, 248);
        border-style: solid;
        padding:  15px 15px 15px 50px;
        height: 95px;
        text-align: center;
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            width: 18px;
            height: 18px;
            border-width: 2px;
            border-color: rgb(176, 190, 197);
            border-style: solid;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);              
        }       
        &:after {
            content: "";
            display: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            border-radius: 50%;
            background-color: rgb(0, 156, 255);
            width: 12px;
            height: 12px;              
        } 
        p {
            font-size: 14px;
            margin-bottom: 0;
            color: rgb(38, 50, 56);
            line-height: 1.2;  
            text-align: center;            
        }
    }
    &-creditcart {
        margin-right: 15px;
    }
    input[type=radio]:checked+&-creditcart, input[type=radio]:checked+&-paypal {
        border-color: rgb(0, 156, 255);
        &:before {
            border-color: rgb(0, 156, 255);
        }
        &:after {
            display: block;
        }
    }
    p.deposit-title {
        font-size: 20px;
        color: rgb(38, 50, 56);
        line-height: 1.2;
        text-align: left;    
        margin-bottom: 15px;      
    }
    
    .button-block {
        .msg-btn {
            padding: 15px 15px 19px 15px;
            background-color: rgb(243, 246, 248);
            border-radius: 4px;
            margin-bottom: -5px;
            position: relative;
            z-index: 1;
            min-height: 75px;
            &.with-icon {
                padding-left: 50px;
                img {
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 25px;
                    transform: translate3d(-50%, -50%, 0);
                }
            }
            p {
                font-size: 14px;
                color: rgb(38, 50, 56);
                line-height: 1.429;
                text-align: left;  
                margin-bottom: 0;
            }      
        }
        .btn {
            margin: 0;
            z-index: 2;
        }
    }
}
.history {
    .content {
        padding-left: 0;
        padding-right: 0;
        .deposit-title {
            padding: 0 15px;
        }
        .table-history {
            border: 0;
            color: rgb(38, 50, 56);
            font-size: 12px;
            line-height: 1.143; 
            width: 100%;
            border-collapse: collapse;
            .thead, .tbody {
                display: table;
                width: 100%;
                .tr {
                    font-size: 0;
                    width: 100%;
                    display: table-row;
                    .td {
                        display: table-cell;
                        padding: 8px 7.5px;
                        font-size: 12px;
                        width: 22%;
                        &:first-child {
                            padding-left: 15px;
                        }
                        &:nth-child(2) {
                            width: 34%;
                        }
                        &:nth-child(3) {
                            text-align: right;
                        }
                        &:last-child {
                            padding-right: 15px;
                            text-align: right;
                        }
                        p {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .thead {
                background-color: rgb(243, 246, 248);
                .tr {
                    .td {
                        font-size: 14px;
                        font-weight: 700;
                    }
                }
            }
            .tbody {                
                .td {
                    font-weight: 400;
                    &:last-child {
                        font-weight: 700;
                    }                    
                    .time {
                        color: rgb(144, 164, 174);
                    }
                }
            }
        }
    }
}