.preloader {
    .loader {
        width: 60px;
        margin: 0 auto;
        display: block;
    }
}
// login screen
.login-screen {
    background-image: -moz-linear-gradient( -90deg, rgb(0,156,255) 0%, rgb(0,108,255) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(0,156,255) 0%, rgb(0,108,255) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(0,156,255) 0%, rgb(0,108,255) 100%);
    background-image: linear-gradient( -90deg, rgb(0,156,255) 0%, rgb(0,108,255) 100%);
    text-align: center;
    position: relative;
    .header {
        padding: 0 0 25px 45px;
        position: relative;
        .back {
            width: 20px;
            height: 24px;
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                background-image: url(../img/arrow-back-black.png);
                background-position: 0px 0px;
                width: 16px;
                height: 16px;
            }
        }
        p {
            font-size: 20px;
            color: rgb(255, 255, 255);
            line-height: 1.2;
            text-align: left;       
            font-weight: 600;   
        }
    }
    .input {
        border: 0;
        border-bottom: 1px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
    }
    p {
        font-size: 12px;
        font-family: "Open Sans";
        color: rgba(255, 255, 255, 0.749);
        line-height: 1.667;
        text-align: center;
        margin: 15px 0;
    }
    .register {
        font-size: 14px;
        color: rgb(38, 50, 56);
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        background-color: #ffc400;
    }
    .continue {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        border-radius: 0;
    }
}