.messages {
    .header {
        background-color: rgb(38, 50, 56);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 20px; 
        z-index: 2;
        .left-icon, .right-icon {
            top: 12px;            
        }
        p {
            font-size: 20px;
            color: rgb(255, 255, 255);
            line-height: 1.2;
            text-align: left;
            display: block;
            padding-left: 15px;             
            padding-right: 45px;             
            display: inline-block;
        }        
        .tabs {
            margin-top: 20px;
            a {
                width: 50%;
            }
        }
    }
}
// contacts list
.recent {
    padding-top: 90px;
    padding-bottom: 30px;
    height: 100%;
    // overflow: scroll;
    z-index: 1;
    &::-webkit-scrollbar { width: 0; }
    overflow: -moz-scrollbars-none;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.contact {
    position: relative;
    display: block;
    padding: 15px 40px 15px 0;
    text-decoration: none;
    &:first-child {
        
    }
    img {
        border-radius: 50%;
        float: left;
        width: 40px;
    }
    p {
        font-size: 14px;
        color: rgb(144, 164, 174);
        line-height: 1.714; 
        display: block;
        margin-left: 55px;  
        &.contact__name {            
            font-size: 16px;
            color: rgb(38, 50, 56);
            font-weight: 600;
            line-height: 1.5;
            text-align: left;    
        }
    }
    &__count {
        font-size: 8px;
        color: rgb(255, 255, 255);
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        position: absolute;              
        top: 15px;
        left: 0;
        border: 2px solid rgb(0, 156, 255);
        border-radius: 50%;
        background-color: rgb(0, 156, 255);
          
    }
    &__time {
        font-size: 12px;
        color: rgb(144, 164, 174);
        line-height: 2;
        text-align: right;     
        display: block;
        position: absolute;
        top: 15px;
        right: 0;         
    }

}
// contacts
.contacts {
    padding: 90px 0 30px 25px;
    margin-left: -25px;
    height: 100%;
    overflow: scroll;
    z-index: 1;
    &::-webkit-scrollbar { width: 0; }
    overflow: -moz-scrollbars-none;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    .contact {
        padding: 15px 0;
    }
    &__title {
        font-size: 14px;
        color: rgb(38, 50, 56);
        font-weight: 600;
        line-height: 1.714;  
        background-color: rgb(243, 246, 248);
        margin-left: -25px;
        width: calc(100% + 25px);
        text-decoration: none;
        display: block;
        padding-left: 25px;
    }
    .charbar {
        position: absolute;
        top: 145px;
        right: 0;
        width: 25px;
        a {
            font-size: 8px;
            color: rgb(38, 50, 56);
            font-weight: 600;
            line-height: 1.75;          
            display: block;
            text-align: center;
            text-decoration: none;
        }
        &__current {
            border-radius: 4px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);              
            font-size: 24px;
            color: rgb(0, 156, 255);
            text-transform: uppercase;  
            text-align: center;
            display: block;
            line-height: 50px;
            width: 50px;
            height: 50px;
            left: -70px;            
            top: 60px;
            position: absolute;
            z-index: 3;
        }
    }
}
.dialog {
    padding-top: 70px;
    padding-bottom: 50px;
    .header {
        padding-bottom: 18px;
    }
    &__list {
        height: 100%;
        z-index: 1;
        &::-webkit-scrollbar { width: 0; }
        overflow: -moz-scrollbars-none;
        overflow-x: hidden;
        overflow-y: auto;
        -ms-overflow-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &__block {
        padding-left: 40px;
        position: relative;
        margin-bottom: 5px;
        width: calc(100% - 30px);
        img {
            max-width: 30px;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            border-radius: 50%;
            overflow: hidden;
        }
        .item {
            padding: 12px;
            border-radius: 8px;
            background-color: #dff3ff;
            margin-bottom: 16px;
            position: relative;
            // &:first-child {
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 12px;
                left: -5px;
                width: 0;
                height: 0;
                border-top: 7px solid transparent;
                border-right: 7px solid #dff3ff;
                border-bottom: 7px solid transparent;
            }
            &:nth-child(n+2) {
                &:before {
                    display: none;
                }
            }
            p {
                font-size: 14px;
                color: rgb(38, 50, 56);
                line-height: 1.429;
                text-align: left;    
            }
            .time {
                font-size: 10px;
                color: rgb(144, 164, 174);
                line-height: 1;
                text-align: right;
                position: absolute;
                top: -12px;
                right: 2px;
            }
        }
        &.my-message {
            right: -25px;
            .item {
                background-color: #f3f6f8;
                &:first-child {
                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 12px;
                        left: auto;
                        right: -5px;
                        width: 0;
                        height: 0;
                        border-right: 0;
                        border-top: 7px solid transparent;
                        border-left: 7px solid #f3f6f8;
                        border-bottom: 7px solid transparent;
                    }
                }
                .time {
                    text-align: left;
                    right: auto;
                    left: 2px;
                }
            }
        }
    }

}
.message {
    box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.05);
    position: absolute;          
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-right: 50px;
    font-size: 0;
    z-index: 2;
    &__text {
        width: 100%;
        border: 0;
        padding: 15px;
        font-size: 14px;
        color: rgb(84, 110, 122);
        line-height: 1.5;
        text-align: left;  
        height: 50px;   
        outline: none;   
        resize: none;  
    }   
    &__send {
        position: absolute;
        display: block;
        bottom: 12px;
        right: 12px;
    }
}
.search-contacts {
    height: 100%;
    z-index: 1;
    &::-webkit-scrollbar { width: 0; }
    overflow: -moz-scrollbars-none;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    padding-top: 35px;
    padding-bottom: 20px;
}