.jobs {
    background-color: #e3e6e7;
    padding: 0;
    
    .header {
        background-color: rgb(38, 50, 56);
        text-align: left;
        .search__input {
            max-width: 250px;
            width: 100%;
            input {
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: rgb(144, 164, 174);
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    color: rgb(144, 164, 174);
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    color: rgb(144, 164, 174);
                }
                &:-moz-placeholder { /* Firefox 18- */
                    color: rgb(144, 164, 174);
                }
            }
        }
        .tabs {
            margin-top: 20px;
            a {                
                width: 33.3333%;
            }
        }
    }
    .content {
        padding: 120px 0 60px 0;
    }
    .job {
        margin: 10px 0;
        &-top {
            padding: 15px;
            background-color: #fff;
        }  
        &-title {
            font-size: 16px;
            color: rgb(38, 50, 56);
            line-height: 1.5;
            text-align: left;    
            font-weight: 700;          
        }
        &-info {
            margin-bottom: 5px;
            text-align: justify;
            font-size: 0;
            &:after {
                content: '';
                display: inline-block;
                width: 100%;
            }
            
            span {
                font-size: 14px;
                color: rgb(144, 164, 174);                
                line-height: 1.714;
                text-align: left;
                display: inline-block;

                &.job-price {
                   color: rgb(38, 50, 56); 
                }
                &.job-time {
                    text-align: right; 
                }
            }
            p {
                display: inline-block;
            }
        }
        &-bottom {
            background-color: rgb(243, 246, 248);
            padding: 7px 15px;
            // text-align: justify;
            position: relative;            
            // &:after {
            //     content: '';
            //     display: inline-block;
            //     width: 100%;
            // }
            span {
                font-size: 12px;
                color: rgb(38, 50, 56);
                display: block;
                padding-left: 23px; 
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: -3px;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    background-position: center center;
                    background-size: auto auto;
                    background-repeat: no-repeat;
                }
                &.job-rating {
                    text-align: left;
                    width: 100%;
                    padding-right: 75px;
                    &:before {
                        background-image: url(../img/svg-icons/jobs-star.svg)
                    }
                }
                &.job-distance {
                    text-align: right;                  
                    position: absolute;
                    top: 7px;
                    right: 15px;
                    &:before {
                        background-image: url(../img/svg-icons/jobs-map.svg)
                    }
                }
            }
        }        
        // i {
        //     display: inline-block;
        //     width: 12px;
        //     height: 12px;
        //     position: relative;
        //     svg {
        //         position: absolute;
        //         top: 50%;
        //         left: 50%;
        //         transform: translate3d(-50%, -50%, 0);
        //     }
        // }
    }
}  
.new-jobs {
    
}