<section class="account">
    <div class="account-header">
        <div class="profile-img">
            <img src="user/img/account-img.png" alt="">
        </div>
        <p class="profile-name">Martha Smith</p>
        <div class="profile-rating">
            <div class="hire-rating">
                <span class="rating-value">3.8</span>
                <ul class="rating-stars">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                </ul>
                <span class="rating-count">12</span>
                <span class="rating-description">hire rating</span>
            </div>
            <div class="job-rating">
                <span class="rating-value">5.0</span>
                <ul class="rating-stars">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                </ul>
                <span class="rating-count">24</span>
                <span class="rating-description">job rating</span>
            </div>
        </div>
        <div class="prifile-balance">
            <span class="balance">$860</span>
            <span>deposit balance</span>
        </div>
    </div>
    <div class="content">
        <a href="" class="item">
            <i class="item-icon" style="background-image: url(user/img/svg-icons/profile-item-edit-profile.svg);"></i>
            <p class="item-text">Edit profile</p>
            <i class="item-arrow"></i>
        </a>
        <a href="" class="item">
            <i class="item-icon" style="background-image: url(user/img/svg-icons/profile-item-rewiews.svg);"></i>
            <p class="item-text">Reviews</p>
            <i class="item-arrow"></i>
        </a>
        <a href="" class="item">
            <i class="item-icon" style="background-image: url(user/img/svg-icons/profile-item-payments.svg);"></i>
            <p class="item-text">Payments & deposit</p>
            <i class="item-arrow"></i>
        </a>
        <a href="" class="item">
            <i class="item-icon" style="background-image: url(user/img/svg-icons/profile-item-message-settings.svg);"></i>
            <p class="item-text">Message settings</p>
            <i class="item-arrow"></i>
        </a>
        <a href="" class="item">
            <i class="item-icon" style="background-image: url(user/img/svg-icons/profile-item-reset-password.svg);"></i>
            <p class="item-text">Reset password</p>
            <i class="item-arrow"></i>
        </a>
        <a href="" class="item">
            <i class="item-icon" style="background-image: url(user/img/svg-icons/profile-item-about-app.svg);"></i>
            <p class="item-text">About app</p>
            <i class="item-arrow"></i>
        </a>
        <a href="#" class="logout">log out</a>
    </div>
    <div class="panel">
        <a href="#" class="panel__item">
            <i><svg style="fill: currentColor"  width="22" height="20" viewBox="0 0 22 20">
                <path style="fill: currentColor" d="M218,881a1.009,1.009,0,0,1-.448-0.105L213.762,879H205a4.005,4.005,0,0,1-4-4v-6a4.006,4.006,0,0,1,4-4h10a4.005,4.005,0,0,1,4,4v11A1,1,0,0,1,218,881Zm-13-14a2,2,0,0,0-2,2v6a2,2,0,0,0,2,2h9a0.989,0.989,0,0,1,.447.105L217,878.381V869a2,2,0,0,0-2-2H205Zm9,4h-8a1,1,0,1,1,0-2h8A1,1,0,1,1,214,871Zm-4,4h-4a1,1,0,0,1,0-2h4A1,1,0,1,1,210,875Zm-12,10a1,1,0,0,1-1-1V873a4,4,0,0,1,4-4h1v2h-1a2,2,0,0,0-2,2v9.382l2.552-1.276A1,1,0,0,1,202,881h9a2,2,0,0,0,2-2v-1h2v1a4.006,4.006,0,0,1-4,4h-8.765l-3.787,1.895A1.009,1.009,0,0,1,198,885Z" transform="translate(-197 -865)"/>
            </svg></i>
            <span>Messages</span>
        </a>
        <a href="#" class="panel__item">
            <i><svg style="fill: currentColor" width="22" height="18" viewBox="0 0 22 18">
                <path style="" d="M306,871a1,1,0,0,1,1,1v9a1,1,0,0,1-1,1H290a1,1,0,0,1-1-1v-9a1,1,0,0,1,1-1h16m0-2H290a3,3,0,0,0-3,3v9a3,3,0,0,0,3,3h16a3,3,0,0,0,3-3v-9a3,3,0,0,0-3-3h0Zm-6-1v1h-4v-1h4m0-2h-4a2,2,0,0,0-2,2v3h8v-3a2,2,0,0,0-2-2h0Zm8,10H288v-2h20v2Z" transform="translate(-287 -866)"/>
            </svg></i>
            <span>My Jobs</span>
        </a>
        <a href="#" class="panel__item">
            <i><svg style="fill: currentColor" width="24" height="20" viewBox="0 0 24 20">
                <path style="" d="M392,883h-1a1,1,0,0,1-.8-0.4A10.537,10.537,0,0,0,382,879h-4a1,1,0,0,1-1-1v-8a1,1,0,0,1,1-1h4a10.531,10.531,0,0,0,8.2-3.6,1.01,1.01,0,0,1,.8-0.4h1a1,1,0,0,1,1,1v16A1,1,0,0,1,392,883Zm-13-6h3a12.826,12.826,0,0,1,9,3.523V867.476A12.831,12.831,0,0,1,382,871h-3v6Zm14,0h-1a1,1,0,0,1-1-1v-4a1,1,0,0,1,1-1h1A3,3,0,0,1,393,877Zm0-4v2A1,1,0,0,0,393,873Zm-16,3h0v-4h0a1,1,0,0,0-1,1v2A1,1,0,0,0,377,876Zm7,2h-2v-8h2v8Zm-3.5,7a2.5,2.5,0,0,1-2.5-2.5V877h5v5.5A2.5,2.5,0,0,1,380.5,885Zm-0.5-6v3.5a0.5,0.5,0,1,0,1,0V879h-1Zm20-4h-3v-2h3v2Zm-3.445-5.168-1.11-1.664,3-2,1.109,1.664Zm1.89,12-3-2,1.11-1.664,3,2Z" transform="translate(-376 -865)"/>
            </svg></i>
            <span>My offers</span>
        </a>
        <a href="#" class="panel__item active">
            <i><svg style="fill: currentColor" width="18" height="20" viewBox="0 0 18 20">
                <path style="" d="M477.993,875a5,5,0,1,1,5-5A5.006,5.006,0,0,1,477.993,875Zm0-8a3,3,0,1,0,3,3A3,3,0,0,0,477.993,867Zm0,18a17.013,17.013,0,0,1-8.5-2.279,1,1,0,0,1-.46-1.143,9.392,9.392,0,0,1,17.921,0,1,1,0,0,1-.46,1.143A17.009,17.009,0,0,1,477.993,885Zm-6.774-3.618a15.214,15.214,0,0,0,13.546,0A7.426,7.426,0,0,0,471.219,881.381Zm8.774-.382-2,1-2-1,1-4h2Z" transform="translate(-469 -865)"/>
            </svg></i>
            <span>Account</span>
        </a>
    </div>
</section>
<section class="account edit-profile">
    <div class="header with-button with-left-icon">
        <a href="#" class="left-icon close white-close"></a>
        <p>Edit profile</p>
        <a href="#" class="button">save</a>
    </div>
    <div class="content">
        <div class="profile-img">
            <img src="user/img/account-img.png" alt="">
        </div>
        <div class="profile-social">
            <a href="#" class="social facebook active">
                <p>Facebook</p>
                <span class="switcher"></span>
            </a>
            <a href="#" class="social google">
                <p>Google+</p>
                <span class="switcher"></span>
            </a>
        </div>
        <a href="#" class="edit-item">
            <p class="edit-item-title">Type of account</p>
            <p class="edit-item-description">I want to hire and work</p>
        </a>
        <p class="edit-item-separator">Employer Information</p>
        <a href="#" class="edit-item">
            <p class="edit-item-title">Type of account</p>
            <p class="edit-item-description">620-437-1951</p>
        </a>
        <a href="#" class="edit-item">
            <p class="edit-item-title">Type of account</p>
            <p class="edit-item-description">I want to hire and work</p>
        </a>
        <a href="#" class="edit-item with-arrow">
            <p class="edit-item-title">Type of account</p>
            <p class="edit-item-description">Short overview about my skills and why employers should trust me their job. </p>
        </a>        
    </div>
    <!--<div class="modal">
        <div class="modal-overlay"></div>
        <div class="modal-window">
            <div class="modal-title">
                <p>Type of Account</p>
            </div>
            <div class="modal-content">
                <div class="modal-row">
                    <a href="" class="modal-item">I want to Hire and Work</a>
                </div>
                <div class="modal-row">
                    <a href="" class="modal-item active">I want to Hire and Work</a>
                </div>
                <div class="modal-row">
                    <a href="" class="modal-item">I want to Hire and Work</a>
                </div>
                <div class="modal-row">
                    <input type="checkbox" id="checkbox5">
                    <label for="checkbox5" class="blue-check">I’m agree hytgf</label>
                </div>
            </div>
            <div class="modal-bottom">
                <a href="#" class="btn btn-white">cancel</a>
                <a href="#" class="btn btn-blue">ok</a>
            </div>
        </div>
    </div> -->
    <!--<div class="modal">
        <div class="modal-overlay"></div>
        <div class="modal-window modal-phone">
            <div class="input active">
                <span class="placeholder">Cell Phone Number for Hiring</span>
                <input type="text">
                <span class="text-error">Error</span>
            </div>
            <div class="btn btn-blue">done</div>
        </div>
    </div>-->
    <!--<div class="modal">
        <div class="modal-overlay"></div>
        <div class="modal-window modal-date">
            <div class="modal-title fixed">
                <a href="#" class="close"></a>
                <p>Date & Time of job Start</p>
            </div>
            <div class="modal-row">
                <p>Any Day</p>
                <input type="checkbox" id="checkbox6">
                <label for="checkbox6" class="switcher"></label>
            </div>   
            <div class="modal-row">
                <p>Any Time</p>
                <input type="checkbox" id="checkbox7">
                <label for="checkbox7" class="switcher"></label>
            </div>  
            <div class="modal-row">
                <input type="date">
            </div>
            <a href="#" class="btn-bottom"></a>        
        </div>
    </div>-->
</section>
<section class="rewiew">
    
</section>
<section class="rewiews">
    <div class="header with-left-icon">
        <a href="" class="left-icon back white-back"></a>
        <p>Reviews About You (<span class="rewiews-cout">13</span>)</p>
    </div>
    <div class="content">
        <div class="rewiew">
            <div class="rewiew-info">
                <p><span class="rewiew-rating">4,8</span> by <span class="rewiew-name">Bill Northon</span></p>
                <span class="rewiew-date">1 mounth ago</span>
            </div>
            <div class="rewiew-text">
                <div class="rewiew-img">
                    <img src="user/img/contact-img2.png">
                </div>
                <p>Great working with John as always. I am very pleased working on him</p>
            </div>

        </div>
        <div class="rewiew">
            <div class="rewiew-info">
                <p><span class="rewiew-rating hire">4,8</span> by <span class="rewiew-name">Bill Northon</span></p>
                <span class="rewiew-date">1 mounth ago</span>
            </div>
            <div class="rewiew-text">
                <div class="rewiew-img">
                    <img src="user/img/contact-img2.png">
                </div>
                <p>Great working with John as always. I am very pleased working on him</p>
            </div>

        </div>
    </div>
</section>
<section class="deposit">
    <div class="header">
        <a href="" class="left-icon"></a>
        <p>
            <span class="deposit-ballance">$350.00</span>
            deposit ballance
        </p>
        <ul class="tabs">
            <a href="#" class="active">deposit</a>
            <a href="#">refund</a>
            <a href="#">history</a>
        </ul>
    </div>
    <div class="content">
        <p class="deposit-title">Place Deposit with</p>
        <div class="deposit-checkboxes">
            <input type="radio" name="deposit" value="creditcart" id="deposit-creditcart" checked>
            <label for="deposit-creditcart" class="deposit-creditcart">
                <img src="user/img/deposit-creditcart.png" alt="">
                <p>Credit cart</p>
            </label>
            <input type="radio" name="deposit" value="paypal" id="deposit-paypal">
            <label for="deposit-paypal" class="deposit-paypal">
                <img src="user/img/deposit-paypal.png" alt="">
            </label>
        </div>
        <div class="input">
            <input type="text">
            <span class="placeholder">Deposit amount</span>
            <span class="text-error">Error</span>
        </div>
        <div class="input">
            <input type="text">
            <span class="placeholder">Cardholder name</span>
            <span class="text-error">Error</span>
        </div>
        <div class="three-input">
            <div class="input select">
                <select name="" id="">
                    <option value="12">12</option>
                    <option value="12">12</option>
                    <option value="12">12</option>
                </select>
                <span class="placeholder">Exp month</span>
            </div>
            <div class="input select">
                <select name="" id="">
                    <option value="2018">2018</option>
                    <option value="2018">2018</option>
                    <option value="2018">2018</option>
                </select>
                <span class="placeholder">Exp year</span>
            </div>
            <div class="input input-with-info">
                <input type="password">
                <span class="placeholder">CCV/CVV</span>
                <a href="#" class="information"></a>
            </div>
        </div>
        <p>You are agree to authorize the use of your credit card for this deposit and future payments.</p>
        <div class="button-block">
            <div class="msg-btn with-icon">
                <img src="user/img/svg-icons/msg-btn.svg" alt="">
                <p>This is a secure 128 bit SSL encrypted payment</p>
            </div>
            <a href="#" class="btn btn-blue">Add $420.00 to Deposit</a>
        </div>
    </div>
</section>
<section class="deposit">
    <div class="header">
        <a href="" class="left-icon"></a>
        <p>
            <span class="deposit-ballance">$350.00</span>
            deposit ballance
        </p>
        <ul class="tabs">
            <a href="#">deposit</a>
            <a href="#" class="active">refund</a>
            <a href="#">history</a>
        </ul>
    </div>
    <div class="content">
        <p class="deposit-title">Deposit Refund</p>
        <div class="input">
            <input type="text">
            <span class="placeholder">Deposit amount</span>
            <span class="text-error">Error</span>
        </div>
        <div class="button-block">
            <div class="msg-btn">
                <p>Deposit will be refunded to your account</p>
            </div>
            <a href="#" class="btn btn-blue">Refund $200.00</a>
        </div>
    </div>
</section>

<section class="deposit history">
    <div class="header">
        <a href="" class="left-icon"></a>
        <p>
            <span class="deposit-ballance">$350.00</span>
            deposit ballance
        </p>
        <ul class="tabs">
            <a href="#">deposit</a>
            <a href="#">refund</a>
            <a href="#" class="active">history</a>
        </ul>
    </div>
    <div class="content history">
        <p class="deposit-title">Payment History</p>
        <div class="table-history">
            <div class="thead">
                <div class="tr">
                    <div class="td">Date</div>
                    <div class="td">Event</div>
                    <div class="td">Amount</div>
                    <div class="td">Balance</div>
                </div>
            </div>
            <div class="tbody">
                <div class="tr">
                    <div class="td">
                        <span class="date">13/03/2017</span>
                        <span class="time">10:45</span>
                    </div>
                    <div class="td">Deposit placement</div>
                    <div class="td">$200.00</div>
                    <div class="td">$400.00</div>
                </div>
                <div class="tr">
                    <div class="td">
                        <span class="date">13/03/2017</span>
                        <span class="time">10:45</span>
                    </div>
                    <div class="td">Deposit refund</div>
                    <div class="td">-$200.00</div>
                    <div class="td">$200.00</div>
                </div>
                <div  class="tr">
                    <div class="td">
                        <span class="date">13/03/2017</span>
                        <span class="time">10:45</span>
                    </div>
                    <div class="td">Deposit refund</div>
                    <div class="td">-$200.00</div>
                    <div class="td">$200.00</div>
                </div>
                <div class="tr">
                    <div class="td">
                        <span class="date">13/03/2017</span>
                        <span class="time">10:45</span>
                    </div>
                    <div class="td">Deposit placement</div>
                    <div class="td">$200.00</div>
                    <div class="td">$400.00</div>
                </div>
                <div class="tr">
                    <div class="td">
                        <span class="date">13/03/2017</span>
                        <span class="time">10:45</span>
                    </div>
                    <div class="td">Deposit refund</div>
                    <div class="td">-$200.00</div>
                    <div class="td">$200.00</div>
                </div>
                <div  class="tr">
                    <div class="td">
                        <span class="date">13/03/2017</span>
                        <span class="time">10:45</span>
                    </div>
                    <div class="td">Deposit refund</div>
                    <div class="td">-$200.00</div>
                    <div class="td">$200.00</div>
                </div>
                <div class="tr">
                    <div class="td">
                        <span class="date">13/03/2017</span>
                        <span class="time">10:45</span>
                    </div>
                    <div class="td">Deposit placement</div>
                    <div class="td">$200.00</div>
                    <div class="td">$400.00</div>
                </div>
                <div class="tr">
                    <div class="td">
                        <span class="date">13/03/2017</span>
                        <span class="time">10:45</span>
                    </div>
                    <div class="td">Deposit refund</div>
                    <div class="td">-$200.00</div>
                    <div class="td">$200.00</div>
                </div>
                <div  class="tr">
                    <div class="td">
                        <span class="date">13/03/2017</span>
                        <span class="time">10:45</span>
                    </div>
                    <div class="td">Deposit refund</div>
                    <div class="td">-$200.00</div>
                    <div class="td">$200.00</div>
                </div>
                <div class="tr">
                    <div class="td">
                        <span class="date">13/03/2017</span>
                        <span class="time">10:45</span>
                    </div>
                    <div class="td">Deposit placement</div>
                    <div class="td">$200.00</div>
                    <div class="td">$400.00</div>
                </div>
                <div class="tr">
                    <div class="td">
                        <span class="date">13/03/2017</span>
                        <span class="time">10:45</span>
                    </div>
                    <div class="td">Deposit refund</div>
                    <div class="td">-$200.00</div>
                    <div class="td">$200.00</div>
                </div>
                <div  class="tr">
                    <div class="td">
                        <span class="date">13/03/2017</span>
                        <span class="time">10:45</span>
                    </div>
                    <div class="td">Deposit refund</div>
                    <div class="td">-$200.00</div>
                    <div class="td">$200.00</div>
                </div>
                <div class="tr">
                    <div class="td">
                        <span class="date">13/03/2017</span>
                        <span class="time">10:45</span>
                    </div>
                    <div class="td">Deposit placement</div>
                    <div class="td">$200.00</div>
                    <div class="td">$400.00</div>
                </div>
                <div class="tr">
                    <div class="td">
                        <span class="date">13/03/2017</span>
                        <span class="time">10:45</span>
                    </div>
                    <div class="td">Deposit refund</div>
                    <div class="td">-$200.00</div>
                    <div class="td">$200.00</div>
                </div>
                <div  class="tr">
                    <div class="td">
                        <span class="date">13/03/2017</span>
                        <span class="time">10:45</span>
                    </div>
                    <div class="td">Deposit refund</div>
                    <div class="td">-$200.00</div>
                    <div class="td">$200.00</div>
                </div>
            </div>
        </div>
    </div>
</section>