<section class="login-screen preloader">
    <img src="/img/logo.png" alt="" class="logo"> 
    <div class="loader">
        <img src="/img/loader.svg" alt="">
    </div>
    
</section>
<section class="login-screen screen1">
    <img src="./user/img/logo.png" alt="" class="logo"> 
    <a href="" class="btn register">reginster</a>
     <p>or connect with</p>
     <a href="" class="btn btn_social btn_social--facebook">facebook</a>
     <a href="" class="btn btn_social btn_social--google">google</a>
     <div class="bottom">
         <p>Already have an account?</p>
         <a href="" class="btn login">Log in</a>
     </div>
 </section>
 <section class="login-screen screen2">
    <div class="header">
        <a href="" class="back">
            <i></i>
        </a>
        <p>Login with Email</p>
    </div>
    <form action="">
        <div class="input">
            <input type="text" placeholder="Email">
            <span class="text-error">Error</span>
        </div>
        <div class="input">
            <input type="password" placeholder="Password">
            <span class="text-error">Error</span>
        </div>
        <a href="" class="btn">Log in</a>
    </form>
</section>
<section class="login-screen screen3">
    <div class="header">
        <a href="" class="back">
            <i></i>
        </a>
        <p>Let's get Started!</p>
    </div>
    <form action="">
        <p>In order to use Part Time Jobs you should be agree with Terms & Conditions</p>
        <input type="checkbox" id="checkbox1">
        <label for="checkbox1" class="orange-check">I’m agree with <b>Terms & Conditions</b></label>
        <a href="" class="btn">I want to hire</a>
        <a href="" class="btn">I want to work</a>
    </form>
</section>
<section class="login-screen screen4">
    <div class="header">
        <a href="" class="back">
            <i></i>
        </a>
        <p>Create Account with</p>
    </div>
    <a href="" class="btn btn_social btn_social--facebook">facebook</a>
    <a href="" class="btn btn_social btn_social--google">google</a>
    <p>or with your e-mail</p>
    <form action="">
        <div class="input">
            <input type="text" placeholder="Username">
            <span class="text-error">Error</span>
        </div>
        <div class="input">
            <input type="text" placeholder="Email">
            <span class="text-error">Error</span>
        </div>
        <div class="input">
            <input type="password" placeholder="Password">
            <span class="text-error">Error</span>
        </div>
        <div class="input">
            <input type="password" placeholder="Password confirmation">
            <span class="text-error">Error</span>
        </div>
        <a href="" class="btn">Log in</a>
    </form>
</section>
<section class="login-screen screen5">
    <div class="header">
        <a href="" class="back">
            <i></i>
        </a>
        <p>Fill In Your Account Data</p>
    </div>
    <div class="input">
        <input type="text" placeholder="Enter username">
        <span class="text-error">Error</span>
    </div>
    <a href="" class="btn continue">continue</a>
</section>