<section class="messages">
    <div class="header with-tabs with-right-icon">
        <p>Messages</p>
        <div class="right-icon search">
            <a href="#"></a>
        </div>
        <ul class="tabs">
            <a href="#" class="active">Recent</a>
            <a href="#">Contacts</a>
        </ul>
    </div>
    <div class="recent">
        <a href="#" class="contact">
            <span class="contact__count">24</span>
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
            <span class="contact__time">10:45</span>
        </a>
        <a href="#" class="contact">
            <span class="contact__count">24</span>
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
            <span class="contact__time">10:45</span>
        </a>
        <a href="#" class="contact">
            <span class="contact__count">24</span>
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
            <span class="contact__time">10:45</span>
        </a>
        <a href="#" class="contact">
            <span class="contact__count">24</span>
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
            <span class="contact__time">10:45</span>
        </a>
        <a href="#" class="contact">
            <span class="contact__count">24</span>
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
            <span class="contact__time">10:45</span>
        </a>
        <a href="#" class="contact">
            <span class="contact__count">24</span>
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
            <span class="contact__time">10:45</span>
        </a>
        <a href="#" class="contact">
            <span class="contact__count">24</span>
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
            <span class="contact__time">10:45</span>
        </a>
        <a href="#" class="contact">
            <span class="contact__count">24</span>
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
            <span class="contact__time">10:45</span>
        </a>
        <a href="#" class="contact">
            <span class="contact__count">24</span>
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
            <span class="contact__time">10:45</span>
        </a>
        <a href="#" class="contact">
            <span class="contact__count">24</span>
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
            <span class="contact__time">10:45</span>
        </a>
        <a href="#" class="contact">
            <span class="contact__count">24</span>
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
            <span class="contact__time">10:45</span>
        </a>
        <a href="#" class="contact">
            <span class="contact__count">24</span>
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
            <span class="contact__time">10:45</span>
        </a>
        <a href="#" class="contact">
            <span class="contact__count">24</span>
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
            <span class="contact__time">10:45</span>
        </a>
        <a href="#" class="contact">
            <span class="contact__count">24</span>
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
            <span class="contact__time">10:45</span>
        </a>
        <a href="#" class="contact">
            <span class="contact__count">24</span>
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
            <span class="contact__time">10:45</span>
        </a>
        <a href="#" class="contact">
            <span class="contact__count">24</span>
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
            <span class="contact__time">10:45</span>
        </a>
        <a href="#" class="contact">
            <span class="contact__count">24</span>
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
            <span class="contact__time">10:45</span>
        </a>
        <a href="#" class="contact">
            <span class="contact__count">24</span>
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
            <span class="contact__time">10:45</span>
        </a>
        <a href="#" class="contact">
            <span class="contact__count">24</span>
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
            <span class="contact__time">10:45</span>
        </a>

    </div>
    <div class="panel">
        <a href="#" class="panel__item active">
            <i><svg style="fill: currentColor"  width="22" height="20" viewBox="0 0 22 20">
                <path class="cls-1" d="M218,881a1.009,1.009,0,0,1-.448-0.105L213.762,879H205a4.005,4.005,0,0,1-4-4v-6a4.006,4.006,0,0,1,4-4h10a4.005,4.005,0,0,1,4,4v11A1,1,0,0,1,218,881Zm-13-14a2,2,0,0,0-2,2v6a2,2,0,0,0,2,2h9a0.989,0.989,0,0,1,.447.105L217,878.381V869a2,2,0,0,0-2-2H205Zm9,4h-8a1,1,0,1,1,0-2h8A1,1,0,1,1,214,871Zm-4,4h-4a1,1,0,0,1,0-2h4A1,1,0,1,1,210,875Zm-12,10a1,1,0,0,1-1-1V873a4,4,0,0,1,4-4h1v2h-1a2,2,0,0,0-2,2v9.382l2.552-1.276A1,1,0,0,1,202,881h9a2,2,0,0,0,2-2v-1h2v1a4.006,4.006,0,0,1-4,4h-8.765l-3.787,1.895A1.009,1.009,0,0,1,198,885Z" transform="translate(-197 -865)"/>
            </svg></i>
            <span>Messages</span>
        </a>
        <a href="#" class="panel__item">
            <i><svg style="fill: currentColor" width="22" height="18" viewBox="0 0 22 18">
                <path class="cls-1" d="M306,871a1,1,0,0,1,1,1v9a1,1,0,0,1-1,1H290a1,1,0,0,1-1-1v-9a1,1,0,0,1,1-1h16m0-2H290a3,3,0,0,0-3,3v9a3,3,0,0,0,3,3h16a3,3,0,0,0,3-3v-9a3,3,0,0,0-3-3h0Zm-6-1v1h-4v-1h4m0-2h-4a2,2,0,0,0-2,2v3h8v-3a2,2,0,0,0-2-2h0Zm8,10H288v-2h20v2Z" transform="translate(-287 -866)"/>
            </svg></i>
            <span>My Jobs</span>
        </a>
        <a href="#" class="panel__item">
            <i><svg style="fill: currentColor" width="24" height="20" viewBox="0 0 24 20">
                <path class="cls-1" d="M392,883h-1a1,1,0,0,1-.8-0.4A10.537,10.537,0,0,0,382,879h-4a1,1,0,0,1-1-1v-8a1,1,0,0,1,1-1h4a10.531,10.531,0,0,0,8.2-3.6,1.01,1.01,0,0,1,.8-0.4h1a1,1,0,0,1,1,1v16A1,1,0,0,1,392,883Zm-13-6h3a12.826,12.826,0,0,1,9,3.523V867.476A12.831,12.831,0,0,1,382,871h-3v6Zm14,0h-1a1,1,0,0,1-1-1v-4a1,1,0,0,1,1-1h1A3,3,0,0,1,393,877Zm0-4v2A1,1,0,0,0,393,873Zm-16,3h0v-4h0a1,1,0,0,0-1,1v2A1,1,0,0,0,377,876Zm7,2h-2v-8h2v8Zm-3.5,7a2.5,2.5,0,0,1-2.5-2.5V877h5v5.5A2.5,2.5,0,0,1,380.5,885Zm-0.5-6v3.5a0.5,0.5,0,1,0,1,0V879h-1Zm20-4h-3v-2h3v2Zm-3.445-5.168-1.11-1.664,3-2,1.109,1.664Zm1.89,12-3-2,1.11-1.664,3,2Z" transform="translate(-376 -865)"/>
            </svg></i>
            <span>My offers</span>
        </a>
        <a href="#" class="panel__item">
            <i><svg style="fill: currentColor" width="18" height="20" viewBox="0 0 18 20">
                <path class="cls-1" d="M477.993,875a5,5,0,1,1,5-5A5.006,5.006,0,0,1,477.993,875Zm0-8a3,3,0,1,0,3,3A3,3,0,0,0,477.993,867Zm0,18a17.013,17.013,0,0,1-8.5-2.279,1,1,0,0,1-.46-1.143,9.392,9.392,0,0,1,17.921,0,1,1,0,0,1-.46,1.143A17.009,17.009,0,0,1,477.993,885Zm-6.774-3.618a15.214,15.214,0,0,0,13.546,0A7.426,7.426,0,0,0,471.219,881.381Zm8.774-.382-2,1-2-1,1-4h2Z" transform="translate(-469 -865)"/>
            </svg></i>
            <span>Account</span>
        </a>
    </div>
</section> 

<section class="messages">
    <div class="header with-tabs with-right-icon">
        <p>Messages</p>
        <a href="#" class="right-icon search"></a>
        <ul class="tabs">
            <a href="#">Recent</a>
            <a href="#" class="active">Contacts</a>
        </ul>
    </div>
    <div class="contacts">
        <div class="charbar">
            <div class="charbar__current">G</div>
            <a href="#">A</a>
            <a href="#">B</a>
            <a href="#">C</a>
            <a href="#">D</a>
            <a href="#">E</a>
            <a href="#">F</a>
            <a href="#">G</a>
            <a href="#">H</a>
            <a href="#">I</a>
            <a href="#">J</a>
            <a href="#">K</a>
            <a href="#">L</a>
            <a href="#">M</a>
            <a href="#">N</a>
            <a href="#">O</a>
            <a href="#">P</a>
            <a href="#">Q</a>
            <a href="#">R</a>
            <a href="#">S</a>
            <a href="#">T</a>
            <a href="#">U</a>
            <a href="#">V</a>
            <a href="#">W</a>
            <a href="#">X</a>
            <a href="#">Y</a>
            <a href="#">Z</a>
            <a href="#">#</a>
        </div>
        <p class="contacts__title">A</p>
        <a href="#" class="contact">
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
        </a>
        <a href="#" class="contact">
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
        </a>
        <a href="#" class="contact">
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
        </a>
        <a href="#" class="contact">
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
        </a>
        <p class="contacts__title">B</p>
        <a href="#" class="contact">
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
        </a>
        <a href="#" class="contact">
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
        </a>
        <a href="#" class="contact">
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
        </a>
        <a href="#" class="contact">
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
        </a>
        <p class="contacts__title">C</p>
        <a href="#" class="contact">
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
        </a>
        <a href="#" class="contact">
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
        </a>
        <a href="#" class="contact">
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
        </a>
        <a href="#" class="contact">
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
        </a>
        <a href="#" class="contact">
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
        </a>
        <a href="#" class="contact">
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
        </a>
        <a href="#" class="contact">
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
        </a>
        <p class="contacts__title">D</p>
        <a href="#" class="contact">
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
        </a>
        <a href="#" class="contact">
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
        </a>
        <a href="#" class="contact">
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
        </a>
        <a href="#" class="contact">
            <img src="./user/img/contact-img.png">
            <p class="contact__name">Common Notifications</p>
            <p>You have created New Job Offer</p>
        </a>
        
    </div>
    <div class="panel">
        <a href="#" class="panel__item active">
            <i><svg style="fill: currentColor"  width="22" height="20" viewBox="0 0 22 20">
                <path class="cls-1" d="M218,881a1.009,1.009,0,0,1-.448-0.105L213.762,879H205a4.005,4.005,0,0,1-4-4v-6a4.006,4.006,0,0,1,4-4h10a4.005,4.005,0,0,1,4,4v11A1,1,0,0,1,218,881Zm-13-14a2,2,0,0,0-2,2v6a2,2,0,0,0,2,2h9a0.989,0.989,0,0,1,.447.105L217,878.381V869a2,2,0,0,0-2-2H205Zm9,4h-8a1,1,0,1,1,0-2h8A1,1,0,1,1,214,871Zm-4,4h-4a1,1,0,0,1,0-2h4A1,1,0,1,1,210,875Zm-12,10a1,1,0,0,1-1-1V873a4,4,0,0,1,4-4h1v2h-1a2,2,0,0,0-2,2v9.382l2.552-1.276A1,1,0,0,1,202,881h9a2,2,0,0,0,2-2v-1h2v1a4.006,4.006,0,0,1-4,4h-8.765l-3.787,1.895A1.009,1.009,0,0,1,198,885Z" transform="translate(-197 -865)"/>
            </svg></i>
            <span>Messages</span>
        </a>
        <a href="#" class="panel__item">
            <i><svg style="fill: currentColor" width="22" height="18" viewBox="0 0 22 18">
                <path class="cls-1" d="M306,871a1,1,0,0,1,1,1v9a1,1,0,0,1-1,1H290a1,1,0,0,1-1-1v-9a1,1,0,0,1,1-1h16m0-2H290a3,3,0,0,0-3,3v9a3,3,0,0,0,3,3h16a3,3,0,0,0,3-3v-9a3,3,0,0,0-3-3h0Zm-6-1v1h-4v-1h4m0-2h-4a2,2,0,0,0-2,2v3h8v-3a2,2,0,0,0-2-2h0Zm8,10H288v-2h20v2Z" transform="translate(-287 -866)"/>
            </svg></i>
            <span>My Jobs</span>
        </a>
        <a href="#" class="panel__item">
            <i><svg style="fill: currentColor" width="24" height="20" viewBox="0 0 24 20">
                <path class="cls-1" d="M392,883h-1a1,1,0,0,1-.8-0.4A10.537,10.537,0,0,0,382,879h-4a1,1,0,0,1-1-1v-8a1,1,0,0,1,1-1h4a10.531,10.531,0,0,0,8.2-3.6,1.01,1.01,0,0,1,.8-0.4h1a1,1,0,0,1,1,1v16A1,1,0,0,1,392,883Zm-13-6h3a12.826,12.826,0,0,1,9,3.523V867.476A12.831,12.831,0,0,1,382,871h-3v6Zm14,0h-1a1,1,0,0,1-1-1v-4a1,1,0,0,1,1-1h1A3,3,0,0,1,393,877Zm0-4v2A1,1,0,0,0,393,873Zm-16,3h0v-4h0a1,1,0,0,0-1,1v2A1,1,0,0,0,377,876Zm7,2h-2v-8h2v8Zm-3.5,7a2.5,2.5,0,0,1-2.5-2.5V877h5v5.5A2.5,2.5,0,0,1,380.5,885Zm-0.5-6v3.5a0.5,0.5,0,1,0,1,0V879h-1Zm20-4h-3v-2h3v2Zm-3.445-5.168-1.11-1.664,3-2,1.109,1.664Zm1.89,12-3-2,1.11-1.664,3,2Z" transform="translate(-376 -865)"/>
            </svg></i>
            <span>My offers</span>
        </a>
        <a href="#" class="panel__item">
            <i><svg style="fill: currentColor" width="18" height="20" viewBox="0 0 18 20">
                <path class="cls-1" d="M477.993,875a5,5,0,1,1,5-5A5.006,5.006,0,0,1,477.993,875Zm0-8a3,3,0,1,0,3,3A3,3,0,0,0,477.993,867Zm0,18a17.013,17.013,0,0,1-8.5-2.279,1,1,0,0,1-.46-1.143,9.392,9.392,0,0,1,17.921,0,1,1,0,0,1-.46,1.143A17.009,17.009,0,0,1,477.993,885Zm-6.774-3.618a15.214,15.214,0,0,0,13.546,0A7.426,7.426,0,0,0,471.219,881.381Zm8.774-.382-2,1-2-1,1-4h2Z" transform="translate(-469 -865)"/>
            </svg></i>
            <span>Account</span>
        </a>
    </div>
</section> 
<section class="messages dialog">
    <div class="header with-right-icon with-left-icon">
        <a href="#" class="left-icon back white-back"></a>
        <p>Bill Murray</p>
        <a href="#" class="right-icon info"></a>
    </div>
    <div class="dialog__list">
        <div class="dialog__block">
            <img src="./user/img/contact-img.png" alt="">
            <div class="item">
                <span class="time">15:36</span>
                <p>I want to offer you my services to carry out your work offer for $100</p>
            </div>
        </div>
        <div class="dialog__block my-message">
            <div class="item">
                <span class="time">15:36</span>
                <p>I want to offer you my services to carry out your work offer for $100</p>
            </div>
        </div>
        <div class="dialog__block">
            <img src="./user/img/contact-img.png" alt="">
            <div class="item">
                <span class="time">15:36</span>
                <p>I want to offer you my services to</p>
            </div>
            <div class="item">
                <span class="time">15:36</span>
                <p>I want to offer you my services to carry out your work offer for $100</p>
            </div>
        </div>
    </div>
    <div class="message">
        <textarea class="message__text" name="" id="" placeholder="Enter Message"></textarea>
        <a href="#" class="message__send">
            <svg width="23" height="24" viewBox="0 0 23 24">
                    <path style="fill: #009cff;" d="M651.775,651.105a0.544,0.544,0,0,0-.578-0.016L629.246,664.01a0.535,0.535,0,0,0,.13.979l5.579,1.539a0.536,0.536,0,0,0,.486-0.1l8.911-7.221-6.216,7.872a0.53,0.53,0,0,0-.115.33v7.07a0.537,0.537,0,0,0,.39.514,0.526,0.526,0,0,0,.151.022,0.541,0.541,0,0,0,.456-0.249l3.88-6.042,5.674,1.566a0.545,0.545,0,0,0,.681-0.438l2.755-18.221a0.536,0.536,0,0,0-.233-0.525h0Zm0,0" transform="translate(-629 -651)"/>
                </svg>
        </a>
    </div>
</section>