<section class="jobs">
    <div class="header with-tabs with-right-icon with-left-icon">
        <a href="#" class="left-icon back white-back"></a>
        <div class="search__input">
            <input type="text" placeholder="Search New Job">
            <a href="#" class="search__close">
                <svg width="14" height="14" viewBox="0 0 14 14">
                    <path style="fill: #b0bec5;" d="M446,48a4,4,0,1,1-4,4,4,4,0,0,1,4-4m0-2a6,6,0,1,0,6,6,6,6,0,0,0-6-6h0Zm7,14a1,1,0,0,1-.707-0.293l-3-3a1,1,0,1,1,1.417-1.414l3,3A1,1,0,0,1,453.007,60Z"
                        transform="translate(-440 -46)" />
                </svg>
            </a>
        </div>
        <ul class="tabs">
            <a href="#" class="active">Pending</a>
            <a href="#">Active</a>
            <a href="#">Archive</a>
        </ul>
    </div>
    <div class="content">
        <div class="job">
            <div class="job-top">
                <p class="job-title">Clean House and wash windows</p>
                <div class="job-info">
                    <p>
                        <span class="job-price">$100 </span>
                        <span class="job-name">- John Smith</span>
                    </p>
                    <span class="job-time">1 hour ago</span>
                </div>
            </div>
            <div class="job-bottom">
                <span class="job-rating">
                    4,8(12)-7 hires from 10 offers
                </span>
                <span class="job-distance">
                    7.1 miles
                </span>
            </div>
        </div>
        <div class="job">
            <div class="job-top">
                <p class="job-title">Clean House and wash windows</p>
                <div class="job-info">
                    <p>
                        <span class="job-price">$100 </span>
                        <span class="job-name">- John Smith</span>
                    </p>
                    <span class="job-time">1 hour ago</span>
                </div>
            </div>
            <div class="job-bottom">
                <span class="job-rating">
                    4,8(12)-7 hires from 10 offers
                </span>
                <span class="job-distance">
                    7.1 miles
                </span>
            </div>
        </div>
        <div class="job">
            <div class="job-top">
                <p class="job-title">Clean House and wash windows</p>
                <div class="job-info">
                    <p>
                        <span class="job-price">$100 </span>
                        <span class="job-name">- John Smith</span>
                    </p>
                    <span class="job-time">1 hour ago</span>
                </div>
            </div>
            <div class="job-bottom">
                <span class="job-rating">
                    4,8(12)-7 hires from 10 offers
                </span>
                <span class="job-distance">
                    7.1 miles
                </span>
            </div>
        </div>
        <div class="job">
            <div class="job-top">
                <p class="job-title">Clean House and wash windows</p>
                <div class="job-info">
                    <p>
                        <span class="job-price">$100 </span>
                        <span class="job-name">- John Smith</span>
                    </p>
                    <span class="job-time">1 hour ago</span>
                </div>
            </div>
            <div class="job-bottom">
                <span class="job-rating">
                    4,8(12)-7 hires from 10 offers
                </span>
                <span class="job-distance">
                    7.1 miles
                </span>
            </div>
        </div>
        <div class="job">
            <div class="job-top">
                <p class="job-title">Clean House and wash windows</p>
                <div class="job-info">
                    <p>
                        <span class="job-price">$100 </span>
                        <span class="job-name">- John Smith</span>
                    </p>
                    <span class="job-time">1 hour ago</span>
                </div>
            </div>
            <div class="job-bottom">
                <span class="job-rating">
                    4,8(12)-7 hires from 10 offers
                </span>
                <span class="job-distance">
                    7.1 miles
                </span>
            </div>
        </div>
        <div class="job">
            <div class="job-top">
                <p class="job-title">Clean House and wash windows</p>
                <div class="job-info">
                    <p>
                        <span class="job-price">$100 </span>
                        <span class="job-name">- John Smith</span>
                    </p>
                    <span class="job-time">1 hour ago</span>
                </div>
            </div>
            <div class="job-bottom">
                <span class="job-rating">
                    4,8(12)-7 hires from 10 offers
                </span>
                <span class="job-distance">
                    7.1 miles
                </span>
            </div>
        </div>

    </div>
    <div class="panel">
        <a href="#" class="panel__item">
            <i>
                <svg style="fill: currentColor" width="22" height="20" viewBox="0 0 22 20">
                    <path class="cls-1" d="M218,881a1.009,1.009,0,0,1-.448-0.105L213.762,879H205a4.005,4.005,0,0,1-4-4v-6a4.006,4.006,0,0,1,4-4h10a4.005,4.005,0,0,1,4,4v11A1,1,0,0,1,218,881Zm-13-14a2,2,0,0,0-2,2v6a2,2,0,0,0,2,2h9a0.989,0.989,0,0,1,.447.105L217,878.381V869a2,2,0,0,0-2-2H205Zm9,4h-8a1,1,0,1,1,0-2h8A1,1,0,1,1,214,871Zm-4,4h-4a1,1,0,0,1,0-2h4A1,1,0,1,1,210,875Zm-12,10a1,1,0,0,1-1-1V873a4,4,0,0,1,4-4h1v2h-1a2,2,0,0,0-2,2v9.382l2.552-1.276A1,1,0,0,1,202,881h9a2,2,0,0,0,2-2v-1h2v1a4.006,4.006,0,0,1-4,4h-8.765l-3.787,1.895A1.009,1.009,0,0,1,198,885Z"
                        transform="translate(-197 -865)" />
                </svg>
            </i>
            <span>Messages</span>
        </a>
        <a href="#" class="panel__item active">
            <i>
                <svg style="fill: currentColor" width="22" height="18" viewBox="0 0 22 18">
                    <path class="cls-1" d="M306,871a1,1,0,0,1,1,1v9a1,1,0,0,1-1,1H290a1,1,0,0,1-1-1v-9a1,1,0,0,1,1-1h16m0-2H290a3,3,0,0,0-3,3v9a3,3,0,0,0,3,3h16a3,3,0,0,0,3-3v-9a3,3,0,0,0-3-3h0Zm-6-1v1h-4v-1h4m0-2h-4a2,2,0,0,0-2,2v3h8v-3a2,2,0,0,0-2-2h0Zm8,10H288v-2h20v2Z"
                        transform="translate(-287 -866)" />
                </svg>
            </i>
            <span>My Jobs</span>
        </a>
        <a href="#" class="panel__item">
            <i>
                <svg style="fill: currentColor" width="24" height="20" viewBox="0 0 24 20">
                    <path class="cls-1" d="M392,883h-1a1,1,0,0,1-.8-0.4A10.537,10.537,0,0,0,382,879h-4a1,1,0,0,1-1-1v-8a1,1,0,0,1,1-1h4a10.531,10.531,0,0,0,8.2-3.6,1.01,1.01,0,0,1,.8-0.4h1a1,1,0,0,1,1,1v16A1,1,0,0,1,392,883Zm-13-6h3a12.826,12.826,0,0,1,9,3.523V867.476A12.831,12.831,0,0,1,382,871h-3v6Zm14,0h-1a1,1,0,0,1-1-1v-4a1,1,0,0,1,1-1h1A3,3,0,0,1,393,877Zm0-4v2A1,1,0,0,0,393,873Zm-16,3h0v-4h0a1,1,0,0,0-1,1v2A1,1,0,0,0,377,876Zm7,2h-2v-8h2v8Zm-3.5,7a2.5,2.5,0,0,1-2.5-2.5V877h5v5.5A2.5,2.5,0,0,1,380.5,885Zm-0.5-6v3.5a0.5,0.5,0,1,0,1,0V879h-1Zm20-4h-3v-2h3v2Zm-3.445-5.168-1.11-1.664,3-2,1.109,1.664Zm1.89,12-3-2,1.11-1.664,3,2Z"
                        transform="translate(-376 -865)" />
                </svg>
            </i>
            <span>My offers</span>
        </a>
        <a href="#" class="panel__item">
            <i>
                <svg style="fill: currentColor" width="18" height="20" viewBox="0 0 18 20">
                    <path class="cls-1" d="M477.993,875a5,5,0,1,1,5-5A5.006,5.006,0,0,1,477.993,875Zm0-8a3,3,0,1,0,3,3A3,3,0,0,0,477.993,867Zm0,18a17.013,17.013,0,0,1-8.5-2.279,1,1,0,0,1-.46-1.143,9.392,9.392,0,0,1,17.921,0,1,1,0,0,1-.46,1.143A17.009,17.009,0,0,1,477.993,885Zm-6.774-3.618a15.214,15.214,0,0,0,13.546,0A7.426,7.426,0,0,0,471.219,881.381Zm8.774-.382-2,1-2-1,1-4h2Z"
                        transform="translate(-469 -865)" />
                </svg>
            </i>
            <span>Account</span>
        </a>
    </div>
</section>

<section class="jobs new-jobs">
    <div class="header with-right-icon with-left-icon">
        <a href="#" class="left-icon back white-back"></a>
        <div class="search__input">
            <input type="text" placeholder="Search New Job">
            <a href="#" class="search__close">
                <svg width="14" height="14" viewBox="0 0 14 14">
                    <path style="fill: #b0bec5;" d="M446,48a4,4,0,1,1-4,4,4,4,0,0,1,4-4m0-2a6,6,0,1,0,6,6,6,6,0,0,0-6-6h0Zm7,14a1,1,0,0,1-.707-0.293l-3-3a1,1,0,1,1,1.417-1.414l3,3A1,1,0,0,1,453.007,60Z"
                        transform="translate(-440 -46)" />
                </svg>
            </a>
        </div>
        <a href="#" class="right-icon filter"></a>
    </div>
    <div class="content">
        <div class="job">
            <div class="job-top">
                <p class="job-title">Clean House and wash windows</p>
                <div class="job-info">
                    <p>
                        <span class="job-price">$100 </span>
                        <span class="job-name">- John Smith</span>
                    </p>
                    <span class="job-time">1 hour ago</span>
                </div>
            </div>
            <div class="job-bottom">
                <span class="job-rating">
                    4,8(12)-7 hires from 10 offers
                </span>
                <span class="job-distance">
                    7.1 miles
                </span>
            </div>
        </div>
        <div class="job">
            <div class="job-top">
                <p class="job-title">Clean House and wash windows</p>
                <div class="job-info">
                    <p>
                        <span class="job-price">$100 </span>
                        <span class="job-name">- John Smith</span>
                    </p>
                    <span class="job-time">1 hour ago</span>
                </div>
            </div>
            <div class="job-bottom">
                <span class="job-rating">
                    4,8(12)-7 hires from 10 offers
                </span>
                <span class="job-distance">
                    7.1 miles
                </span>
            </div>
        </div>
        <div class="job">
            <div class="job-top">
                <p class="job-title">Clean House and wash windows</p>
                <div class="job-info">
                    <p>
                        <span class="job-price">$100 </span>
                        <span class="job-name">- John Smith</span>
                    </p>
                    <span class="job-time">1 hour ago</span>
                </div>
            </div>
            <div class="job-bottom">
                <span class="job-rating">
                    4,8(12)-7 hires from 10 offers
                </span>
                <span class="job-distance">
                    7.1 miles
                </span>
            </div>
        </div>
        <div class="job">
            <div class="job-top">
                <p class="job-title">Clean House and wash windows</p>
                <div class="job-info">
                    <p>
                        <span class="job-price">$100 </span>
                        <span class="job-name">- John Smith</span>
                    </p>
                    <span class="job-time">1 hour ago</span>
                </div>
            </div>
            <div class="job-bottom">
                <span class="job-rating">
                    4,8(12)-7 hires from 10 offers
                </span>
                <span class="job-distance">
                    7.1 miles
                </span>
            </div>
        </div>
        <div class="job">
            <div class="job-top">
                <p class="job-title">Clean House and wash windows</p>
                <div class="job-info">
                    <p>
                        <span class="job-price">$100 </span>
                        <span class="job-name">- John Smith</span>
                    </p>
                    <span class="job-time">1 hour ago</span>
                </div>
            </div>
            <div class="job-bottom">
                <span class="job-rating">
                    4,8(12)-7 hires from 10 offers
                </span>
                <span class="job-distance">
                    7.1 miles
                </span>
            </div>
        </div>
        <div class="job">
            <div class="job-top">
                <p class="job-title">Clean House and wash windows</p>
                <div class="job-info">
                    <p>
                        <span class="job-price">$100 </span>
                        <span class="job-name">- John Smith</span>
                    </p>
                    <span class="job-time">1 hour ago</span>
                </div>
            </div>
            <div class="job-bottom">
                <span class="job-rating">
                    4,8(12)-7 hires from 10 offers
                </span>
                <span class="job-distance">
                    7.1 miles
                </span>
            </div>
        </div>

    </div>
</section>

<section class="jobs ">
    <div class="header with-right-icon with-left-icon">
        <a href="#" class="left-icon back white-back"></a>
        <div class="search__input">
            <input type="text" placeholder="Enter Keyword">
        </div>
        <a href="#" class="right-icon nolast"></a>
    </div>
    <div class="content">

    </div>
</section>

<section class="jobs ">
    <div class="header with-right-icon with-left-icon">
        <a href="#" class="left-icon back white-back"></a>
        <div class="search__input">
            <input type="text" placeholder="Search New Job">
            <a href="#" class="search__close">
                <svg width="14" height="14" viewBox="0 0 14 14">
                    <path style="fill: #b0bec5;" d="M446,48a4,4,0,1,1-4,4,4,4,0,0,1,4-4m0-2a6,6,0,1,0,6,6,6,6,0,0,0-6-6h0Zm7,14a1,1,0,0,1-.707-0.293l-3-3a1,1,0,1,1,1.417-1.414l3,3A1,1,0,0,1,453.007,60Z"
                        transform="translate(-440 -46)" />
                </svg>
            </a>
        </div>
    </div>
    <div class="content"></div>
</section>